body {
    font-family: 'Poppins', sans-serif;
    color: #2A2A2A;
}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    padding: 180px 0px 165px;

    .brand-logo {
        img {
            max-width: 40%;
        }
    }

}

.navbar-brand {
    img {
        max-height: 45px;
    }
}

.bg-brown {
    background-color: #2A2A2A;
    height: 72px;

    .navbar-nav {
        background-color: #2A2A2A;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        .nav-link {
            color: #F4F2EC !important;
            margin-right: 25px;

            &:hover {
                color: #FBBC58 !important;
            }
        }
        
        .active {
            color: #F94A0E !important;
        }

    }

    .btn-login {
        color: #F4F2EC !important;
        background-color: #F94A0E;
        border-radius: 0;
        max-height: 72px;

        &:hover {
            background-color: #FBBC58;
            color: #F4F2EC;
        }
    }
    
}

.title {
    h3 {
        margin-top: 60px;
    }

    p {
        margin-top: 35px;
        max-width: 570px;
    }
}

.image {
    img {
        max-width: 75%;
        margin-top: 35px;
        box-shadow:0px 0px 10px #3A3A3A;
    }
}

.bg-blue-color {
    background-color: #095D6A;
    background-size: cover;
    margin-top: 60px;
    padding-top: 50px;

    .title-bg {
        color: #F4F2EC;
        padding-bottom: 80px;
    
        p {
            margin-top: 25px;
            max-width: 570px;
        }
    }
    .more-space {
        margin-top : 25px;
    }

    .card {
        background-color: #fff;
        background-size: cover;
        border-radius: 0;
        box-shadow:0px 0px 10px #3A3A3A;
        max-width: 260px;
        // max-height: 280px;
        // margin-top : 30px;
        margin-bottom: 50px;
    }

    .space-img {
        // padding-top : 20px;
        
        img {
            height: 160px;
            width: 160px;
        }

        .star-name {
            padding-top: 20px;
            padding-left: 30px;

            img {
                height: 15px;
                width: 15px;
                margin-right: 3px;
            }

            p {
                padding-top: 5px;
            }

            .price {
                p {
                    font-size: 24pt;
                    float: right;
                    padding-right: 30px;
                    margin-top: -70px;
                }
            }
        }
    }
}

.margin-mines {
    margin-top: -45px;

    a {
        text-decoration: none;
        
        &:hover {
            h3 {
                color: #FBBC58 !important;
            }
            box-shadow:0px 0px 10px #F4F2EC;
        }
    }

    h3 {
        color: #F4F2EC;
    }
}


.img-lunch {
    background-image: url("../images/fnb2.jpg");
    background-size: cover;
    border-radius: 7px;
    box-shadow:0px 0px 10px #3A3A3A;
    
    h3 {
        padding : 25px 10px;
        color: #F4F2EC;
    }
}

.img-dinner {
    background-image: url("../images/fnb2.jpg");
    background-size: cover;
    border-radius: 7px;
    box-shadow:0px 0px 10px #3A3A3A;
    
    h3 {
        padding : 25px 10px;
        color: #F4F2EC;
    }
}

.btn-join {
    background-color: #F94A0E;
    padding: 8px 20px;
    color: #F4F2EC !important;

    &:hover {
        background-color: #FBBC58;
        color: #F4F2EC;
    }
}

.bg-black-color {
    background-color: #2A2A2A;
    background-size: cover;
    margin-top: 60px;
    padding-bottom: 20px;

    h3 {
        color : #F4F2EC !important;
        padding-top: 50px;
    }

    p {
        color : #F4F2EC !important;
    }

    .sosmed {
        font-size: 24px;

        a {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.promo {

    margin-top : 40px;
    
    .card {
        background-color: #2A2A2A;
        background-size: cover;
        border-radius: 0;
        max-width: 550px;
        box-shadow:0px 0px 10px #3A3A3A;
        margin-bottom: 20px;

        .img-promo {

            img {
                width: 200px;
                height: 200px;
                padding: 10px;
                
            }

            p {
                color: white;
            }

            .star-name img {
                display: inline;
            }
        }

        .promo-text {
            
            img {
                width: 15px;
                height: 15px;
                margin-right: 3px;
            }

            p {
                color: #F4F2EC;
            }

            .price {
                p {
                    font-size: 24pt;
                }
            }
        }
    }
    
}

.bg-header-lunch {
    background-image: url("../images/fnb2.jpg");
    background-size: cover;

    .title {
        h2 {
            color: #F4F2EC;
            padding-top: 70px;
        }

        p {
            color: #F4F2EC;
            padding-bottom: 70px;
        }
    }
}

.bg-header-dinner {
    background-image: url("../images/fnb1.jpg");
    background-size: cover;

    .title {
        h2 {
            color: #F4F2EC;
            padding-top: 70px;
        }

        p {
            color: #F4F2EC;
            padding-bottom: 70px;
        }
    }
}

.daftar-menu {
    margin-left: 20px;

    h3 {
        margin-top: 40px;
        margin-bottom: 15px;
    }
}

.price-menu {
    margin-top: 40px;
    margin-left: 20px;

    .price {
        p {
            font-size: 36pt;
            color: #095D6A !important;
        }
    }
}

.form {
    margin-top: 25px;
    max-width: 600px;
}
